<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
    {#<link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">#}
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap/ripples.min.css">
    <link rel="stylesheet" href="/public/css/general.css">

    {% for css_file in css_files %}
        <link rel="stylesheet" href="/public/css/{{ css_file }}"/>
    {% endfor %}




</head>