{% include 'common/header.twig' %}
<body>

{% include 'common/navigation.twig' %}

<div class="content">
    {% block content %}

    {% endblock %}
</div>
{% for js_file in js_files %}
    <script type="text/javascript" src="/public/js/{{ js_file }}"></script>
{% endfor %}
</body>
</html>