<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% for css_file in css_files %}
        <link rel="stylesheet" href="/public/css/{{ css_file }}"/>
    {% endfor %}
    <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
</head>