{% extends baseTemplate %}
    
{% block content %}
    <h1>MON DASHBOARD {{ user.pseudo }}</h1>
    <a href="/index.php?module=Bot&action=InitSocket" class="btn btn-twitch">DEMARRAY LE BOT</a><br/>
    <a href="/index.php?module=Bot&action=JoinChannel" class="btn btn-twitch">ENVOYAY LE BOT</a>

{% endblock %}