{% extends baseTemplate %}

{% block content %}
	<div class="text-vcenter">
		<div class="login-wrapper">
			<h1>Accéder aux fonctionnalités de AIOBot</h1>
			<h3>Le meilleur Bot Twitch, tous univers confondus</h3>
			<a href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id={{ twitchApi.clientId }}&redirect_uri={{ twitchApi.RedirectUri }}&scope=user_read+openid"
			   class="btn btn-twitch"
			>Se connecter avec Twitch !</a>
		</div>
	</div>

{% endblock %}